@font-face {
    font-family: 'Norse-Bold';
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

.bigcontainer {
    display: flex;
    flex-direction: row;
}

.rightcontainer {
    flex: 2; /* Takes available space (two-thirds) */
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    flex: 1;
    align-items: center;
    background-image: url('plant.jpg');
    height: 100vh;
    width: 100%;
}


.logocontainer {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-top: 200px;
    width: auto;
}


.leftcontainer .logocontainer img {
    height: 100px;
    width: 80px;
    margin-right: 10px; /* Space between logo and text */
}

#textodin {
    font-size: 90px;
    color: white;
    font-family: Norse-Bold;
}

.headercontainer {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 30vh;
    margin-bottom: 5px;
    padding: 20px;
    justify-content: flex-end; /* Aligns content to the bottom */
    align-items: flex-start;

}

.headercontainer p:last-child {
    /* margin-top: auto; Pushes the last paragraph to the bottom */
    text-align: left; /* Aligns the text to the left */
    margin-bottom: 0; /* Resets any default margin */
}
.middlecontainer {
    display: flex;
    align-content: center;
    justify-content: left;

}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 20px; */
    padding: 20px;
    margin-bottom: auto;
    /* gap: 5px; */

}

label {
    display: block; /* Labels as block elements */
    font-weight: bold; /* Make label text bold */
    margin-bottom: 1px; /* Adds a small space between labels */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    display: block; /* Inputs as block elements */
    margin-bottom: 10px; /* Adds a space between inputs */
}


.rightside {
    display: flex;
    flex-direction: column;

}